@font-face {
  font-family: "HarmonyOS_Sans_SC_Bold";
  src: url("/font/HarmonyOS_Sans_SC_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HarmonyOS_Sans_SC";
  src: url("/font/HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
}
